In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [3]:
contracts_df = pd.read_csv('../data/contracts.csv')
contracts_df

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00"
...,...,...,...,...,...,...
995,996,57,11/8/2019,15,"$38,000.00","$5,300.00"
996,997,126,1/13/2019,20,"$28,000.00","$16,000.00"
997,998,89,5/8/2019,7,"$73,000.00","$18,400.00"
998,999,52,3/26/2019,7,"$63,000.00","$21,600.00"
999,1000,3,3/19/2019,16,"$23,000.00","$15,700.00"

In [4]:
customers_df = pd.read_csv('../data/customers.csv')
customers_df

,id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805
...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166

In [5]:
join_df = pd.merge(contracts_df, customers_df, left_on='customer_id', right_on='id')
join_df

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,id,company,sector,industry,email,address,city,state,zip
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00",127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
1,27,127,2/5/2019,20,"$86,000.00","$16,300.00",127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
2,112,127,7/15/2019,5,"$68,000.00","$10,200.00",127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
3,296,127,8/13/2019,8,"$68,000.00","$18,800.00",127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
4,498,127,5/21/2019,22,"$39,000.00","$16,200.00",127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,747,136,6/6/2019,9,"$93,000.00","$11,000.00",136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160
996,868,136,5/16/2019,6,"$22,000.00","$5,700.00",136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160
997,781,149,1/10/2019,2,"$92,000.00","$23,300.00",149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635
998,922,149,7/7/2019,14,"$24,000.00","$19,000.00",149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635
999,920,159,1/14/2019,3,"$26,000.00","$11,000.00",159,Wikivu,Finance,Major Banks,agarnam4e@whitehouse.gov,6 Erie Pass,Atlanta,GA,30328

In [6]:
join_df['deposit'] = join_df['deposit'].str.replace('$', '')
join_df['deposit'] = join_df['deposit'].str.replace(',', '').astype(float)

join_df['monthly_amt'] = join_df['monthly_amt'].str.replace('$', '')
join_df['monthly_amt'] = join_df['monthly_amt'].str.replace(',', '').astype(float)

join_df

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,id,company,sector,industry,email,address,city,state,zip
0,1,127,8/17/2019,12,53000.0,11600.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
1,27,127,2/5/2019,20,86000.0,16300.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
2,112,127,7/15/2019,5,68000.0,10200.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
3,296,127,8/13/2019,8,68000.0,18800.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
4,498,127,5/21/2019,22,39000.0,16200.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,747,136,6/6/2019,9,93000.0,11000.0,136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160
996,868,136,5/16/2019,6,22000.0,5700.0,136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160
997,781,149,1/10/2019,2,92000.0,23300.0,149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635
998,922,149,7/7/2019,14,24000.0,19000.0,149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635
999,920,159,1/14/2019,3,26000.0,11000.0,159,Wikivu,Finance,Major Banks,agarnam4e@whitehouse.gov,6 Erie Pass,Atlanta,GA,30328

In [7]:
join_df['sale'] = pd.Series(join_df['deposit']+join_df['monthly_amt']*join_df['contract_term'])
join_df

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,id,company,sector,industry,email,address,city,state,zip,sale
0,1,127,8/17/2019,12,53000.0,11600.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732,192200.0
1,27,127,2/5/2019,20,86000.0,16300.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732,412000.0
2,112,127,7/15/2019,5,68000.0,10200.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732,119000.0
3,296,127,8/13/2019,8,68000.0,18800.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732,218400.0
4,498,127,5/21/2019,22,39000.0,16200.0,127,Lazz,Health Care,Biotechnology: Biological Products (No Diagnos...,deddicott3i@kickstarter.com,313 Schiller Center,Boise,ID,83732,395400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,747,136,6/6/2019,9,93000.0,11000.0,136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160,192000.0
996,868,136,5/16/2019,6,22000.0,5700.0,136,Eabox,Energy,Coal Mining,eway3r@shinystat.com,9002 Northwestern Center,Hartford,CT,6160,56200.0
997,781,149,1/10/2019,2,92000.0,23300.0,149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635,138600.0
998,922,149,7/7/2019,14,24000.0,19000.0,149,Yakidoo,NaN,NaN,lrichardon44@wikimedia.org,0 Saint Paul Court,Raleigh,NC,27635,290000.0
999,920,159,1/14/2019,3,26000.0,11000.0,159,Wikivu,Finance,Major Banks,agarnam4e@whitehouse.gov,6 Erie Pass,Atlanta,GA,30328,59000.0

In [8]:
join_df.groupby('state').agg({'sale': 'sum'})

             sale
state
AK      2111900.0
AL      1896400.0
AR       293200.0
AZ      5670700.0
CA     22211000.0
CO      7177800.0
CT      1985300.0
DC      7297200.0
DE      3802100.0
FL     17522100.0
GA      3064200.0
ID      3768100.0
IL      4983600.0
IN      2302400.0
KS     10708400.0
KY      3007800.0
LA      8083500.0
MA      1619200.0
MD      3625700.0
ME      1385500.0
MI      4980400.0
MN      4505300.0
MO      5456800.0
MS      1407900.0
NC      5900800.0
NE      5474200.0
NV      1776000.0
NY      9627400.0
OH      7365500.0
OK      7291100.0
OR      5813700.0
PA      9068000.0
SC      1111500.0
TN      4170700.0
TX     24602200.0
VA      7899500.0
WA     13123600.0
WI      4621000.0
WV      1220300.0